nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: 'white';
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  text-align: center;

}